[inputs]
analysis = forest_loss, emissions
shapefile = C:\Users\concessions.shp
threshold = all
geodatabase = C:\Users\mosaics.gdb
output_file_name = loss_in_peru_concessions
intersect = C:\Users\peru.shp
intersect_col = admin_name
user_def_column_name = concessions_id
